.story {
    border: 1px solid #fcdc5b;
    width: 70%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    background: #f2e6b3;
}

.storyDetails {
    margin: 40px;
    font-size: 17px;
    font-family: cursive;
    color: #807753;
}


.title {
    font-size: 20px;
    margin: 10px;
    color: #807753;
    font-size: 17px;
    font-family: cursive;
}

a {
    text-decoration: none;
}

.storyComments {
    background: #dbdad3;
    color: black;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-family: cursive;
}


.comments{
    display: inline;
}


.exit {
    margin-left: 90%;
}

@media (max-width: 505px){
    
    h1 {
        font-size: 35px;
    }
    .title {
        font-size: 15px;
    }

    .storyDetails {
        font-size: 12px;
        font-weight: bold;
    }
    
    .storyComments {
        width: 70%;
        height: 70%;
        font-size: 12px;
        font-weight: bold;
        overflow: scroll;
    }

    .exit {
        margin-bottom: 20px;
    }
}