header { 
    border: 5px solid #ebc634;
    border-top: none;
    border-radius: 0 0 20px 20px;
    width: 80%;
    height: 100px;
    margin: auto;
    background-image: linear-gradient(#ac8f1c, #7a6615)
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    color: antiquewhite;
}


