footer {
    height: 100px;
    margin-top: 50px;
    background-color: #dddddd
}

ul {
    display: flex;
    widows: 100%;
    justify-content: space-evenly;
    margin: auto;
    list-style-type: none;
    margin-top: 30px;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

ul a {
    color: #807753
}

.line {
    height: 3px;
    background-color: #ebc634;
}

@media(max-width: 500px) {

    ul {
        font-size: 15px;

    }
}